body {
    font-family: 'Lato', sans-serif;
}

/* Style the navigation menu */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 23%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: rgb(204, 204, 204);
  color: #296d98;
}

/* Style the current/active link */
.navbar a.active {
  background-color: #296d98;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

/* Punto 1 */
/* Style the navigation menu */
.navbar1 {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navigation links */
.navbar1 a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 23%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar1 a:hover {
  background-color: rgb(204, 204, 204);
  color: #89609e;
}

/* Style the current/active link */
.navbar1 a.active1 {
  background-color: #89609e;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar1 a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

/* Punto 2 */
/* Style the navigation menu */
.navbar2 {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navigation links */
.navbar2 a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 23%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar2 a:hover {
  background-color: rgb(204, 204, 204);
  color: #74B72E;
}

/* Style the current/active link */
.navbar2 a.active2 {
  background-color: #74B72E;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar2 a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

/* Punto 3 */
/* Style the navigation menu */
.navbar3 {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navigation links */
.navbar3 a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 23%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar3 a:hover {
  background-color:  rgb(204, 204, 204);
  color: #FC466A;
}

/* Style the current/active link */
.navbar3 a.active3 {
  background-color: #FC466A;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar3 a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}